body {
    background-color: goldenrod;
    color: white;
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    background-color: black;
    padding: inherit;
}

p {
    background-color: black;
    padding: inherit;
}

#paint-collection {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10vh;
}

.card {
    text-align: center;
    border: black 1px;        
    padding: 3rem;
    width: 42rem;
    height: 42rem;
    margin: 2rem 2rem;
    box-shadow: 3px 4px black; 
}

img {
    width: 650px;
    height: 500px;
}
