body {
    background-color: goldenrod;
    color: white;
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;
}

#header1 {
    background-color: black;
    padding: 1em 1em;
    text-align: center;
    border-radius: 50%;
}

#header2 {
    background-color: black;
    padding: .5em .5em;
    text-align: center;
}

#atc-picture {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 5vh;
    width: 650px;
    height: 500px
}

.popup .overlay {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.7) ;
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% ) scale(0);
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #222;
    font-size: 25px;
    font-family: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out ;
    transform: translate(-50%, -50% ) scale(1);
}

#funFact {
    background-color: white;
    padding: 1em 2em;
    position: relative;
    left: 650px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}


#paintings {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10vh;
}

.card {
  background-color: black;
  text-align: center; 
  padding: 4.5rem;
  border: 1px;
  border-radius: .30rem;
  margin-bottom: 2rem;
}

img {
    width: 650px;
    height: 500px;
}

p {
    text-align: left;
    padding: 1rem;
}

button {
    background-color: white;
    padding: 1em 2em;
}