body {
    background-color: goldenrod;
    color: white;
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;
}

#header {
    background-color: black;
    padding: 1em 1em;
    text-align: center;
}

#header2 {
    background-color: black;
    padding: .5em .5em;
    text-align: center;
}

#atc-picture {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 5vh;
    width: 650px;
    height: 500px
}

#funFact {
    background-color: white;
    padding: 1em 2em;
    position: relative;
    left: 250px;
}

#paintings {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10vh;
}

.card {
  background-color: black;
  text-align: center; 
  padding: 4.5rem;
  border: 1px;
  border-radius: .30rem;
  margin-bottom: 2rem;
}

img {
    width: 650px;
    height: 500px;
}

p {
    text-align: left;
    padding: 1rem;
}

button {
    background-color: white;
    padding: 1em 2em;
}